<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>blog</title>
</head>

<body>
  {{> shared/form-msgs}}
  {{> admin/nav}}
  {{{body}}}
  {{> shared/footer}}
</body>

</html>