<h2>create post</h2>
<form action="/admin/posts/create" class="text-center" method="post" enctype="multipart/form-data">
   <input required name="title" type="text" id="title" placeholder="Enter title">
   <label for="file">File upload</label>
   <input type="file" name="file">
   <input name="imgAlt" type="text" id="imgAlt" placeholder="image alt">
   <label for="allowComments">
      <input name="allowComments" type="checkbox" id="allowComments">
      allow comments
   </label>
   <label for="categories">Categories</label>
   <input name="categories" type="categories" id="categories" placeholder="categories">
   <textarea required name="short" id="short" placeholder="short description"></textarea>
   <textarea required name="body" id="body" placeholder="description"></textarea>
   <button type="submit">create</button>
</form>